.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  display: block;
}

a.logo:focus {
  text-decoration: none;
}

.logo > span:nth-child(1) {
  color: #4285f4;
}

.logo > span:nth-child(2) {
  color: #ea4335;
}

.logo > span:nth-child(3) {
  color: #fbbc05;
}

.logo > span:nth-child(4) {
  margin-left: 10px;
}

.logo > span:nth-child(5) {
}
